.table-container {
  height: 50%;
  position: absolute;
  width:  50%;
  left: 25%;
  top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 2px solid #e4e7f0;
  border-bottom: 2px solid #e4e7f0
} 
